<div class="about-page" id="about-content">
    <div class="container">
        <div class="row" id="about-content2">

            <div class="col-sm-12">
            <h3>About Us</h3>
            <figure class='figure'>
                <img src=public/images/banner-image-1.jpg alt="about">
            </figure>
            </div>
            <div class="col-sm-12">
                <p> Welcome to my personal travel blog </p>
                <p> I am happy to have you here </p>
                <p> Please feel free to browse through my content </p>
                <p> I am sure you'll have a lot of fun </p>
                <p> Have a nice and travelly day </p>
            </div>
        </div>
    </div>
</div>