<script>

    $('#nav_bar').ready(function () {
        (async function () {

            let nav_bar = document.getElementById('nav_bar');

            let navigationInfo = await fetch('/navigation/info');
            let navInfo = await navigationInfo.json();

            navInfo.forEach(function (bar_item) {
                let li = document.createElement('li');
                li.className = 'nav-item';

                let a = document.createElement('a');
                a.id = bar_item.id;
                a.className = 'nav-link';
                //a.ariaCurrent = 'page';
                a.href = bar_item.href;
                a.url = bar_item.url;
                a.textContent = bar_item.description;

                //Try to find a way to generate it by className (nav-link nav-item)
                a.style.color = "#f9e43f";
                a.style.paddingRight = "20px";
                a.style.paddingLeft = "20px";
                a.style.display = "block";
                a.style.padding = ".1rem 1rem";
                a.style.textTransform = "uppercase";
                a.style.fontSize = "14px";
                a.style.fontWeight = "500";
                a.style.letterSpacing = "0.5px";

                /*$('li').addClass('nav-item');
                $('a').addClass('nav-link');

                $(bar_item.id).attr('class', 'nav-link');
                $("#nav-item").attr('class', 'nav-item');*/


                // Add username to url (later use it for access purposes in getNavigationInfo)
                if (bar_item.id === 'management') {
                    bar_item.url = bar_item.url + '?username=' + localStorage.getItem('username');
                }

                // Load the view in page_content div and turn the right bar item into 'active' mode
                a.onclick = function () {
                    $('li a').removeClass('active');
                    $(this).addClass('active');
                    $('#page_content').load(bar_item.url);
                }

                if (location.hash === bar_item.href) {
                    a.className = 'nav-link active';
                    $('#page_content').load(bar_item.url);
                }

                li.appendChild(a);
                nav_bar.appendChild(li);
            });

            // Add logout button if user is logged
            let isLogged = localStorage.getItem('logged');
            if (isLogged === 'yes') {
                let li = document.createElement('li');
                li.className = 'nav-item';

                let a = document.createElement('a');
                a.href = "";
                a.id = "logout-tab";
                a.className = 'nav-link';
                a.innerText = "Logout";

                //to remove once fixed
                a.style.color = "#f9e43f";
                a.style.paddingRight = "20px";
                a.style.paddingLeft = "20px";
                a.style.display = "block";
                a.style.padding = ".1rem 1rem";
                a.style.textTransform = "uppercase";
                a.style.fontSize = "14px";
                a.style.fontWeight = "500";
                a.style.letterSpacing = "0.5px";


                a.onclick = function () {
                    $('li a').removeClass('active');
                    $(this).addClass('active');
                    $('#page_content').load('/home');
                    localStorage.setItem('logged', 'no');
                    localStorage.setItem('role', null);
                }
                li.appendChild(a);
                nav_bar.appendChild(li);
            }
            // Add login button if user isn't logged
            else {
                let li = document.createElement('li');
                li.className = 'nav-item';
                let a = document.createElement('a');
                a.href = "#login";
                a.id = "login-tab";
                a.className = 'nav-link';
                a.innerText = "Login";

                //to remove once fixed
                a.style.color = "#f9e43f";
                a.style.paddingRight = "20px";
                a.style.paddingLeft = "20px";
                a.style.display = "block";
                a.style.padding = ".1rem 1rem";
                a.style.textTransform = "uppercase";
                a.style.fontSize = "14px";
                a.style.fontWeight = "500";
                a.style.letterSpacing = "0.5px";

                li.appendChild(a);
                nav_bar.appendChild(li);

                a.onclick = function () {
                    $('li a').removeClass('active');
                    $(this).addClass('active');
                }
                $('#login-tab').attr('data-target','.log-sign');
                $('#login-tab').attr('data-toggle','modal');

            }




        })();
    });

</script>



<ul id="nav_bar" class="navbar-nav ml-auto">

    <li></li>
    <!--
    <li class="nav-item active" id="nav-home">
        <a class="nav-link">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item" id="nav-about">
        <a class="nav-link">About</a>
    </li>
    <li class="nav-item" id="nav-gallery">
        <a class="nav-link">Gallery </a>
    </li>
    <li class="nav-item" id="nav-management">
        <a class="nav-link">Management </a>
    </li>
    <li class="nav-item" id="nav-contact">
        <a class="nav-link">Contact </a>
    </li>
    <li class="nav-item">
        <a id="logout-tab" onclick="logout()" class="nav-link">logout </a>
    </li>
    <li class="nav-item" style="display: flex;">
        <a class="nav-link" style="color:skyblue; text-align:center;">Hello</a>
    </li>
    <li class="nav-item">
        <a id="login-tab" class="nav-link" href="#login" data-toggle="modal" data-target=".log-sign">login </a>
    </li>
    <li class="nav-item">
    <a id="signup-tab" class="nav-link" href="#signup" data-toggle="modal" data-target=".log-sign2">signup </a>
    </li>
    -->

</ul>

